.container{
	width:90%;
	background: #c4c4c4;
	text-align: center;
	margin: auto;
}
.slider{
	position: relative;
	width: 40%;
	overflow: hidden;
	display: inline-block;
}
.slider .slider__list{
	slider: relative;
	width:100%;
}
.slider .slider__item{
	position:absolute;
	top:0;
	left:0;
	z-index: 0;
	width: 100%;
	list-style: none;
}
.slider .slider__item img{
	width: 100%;
	display: block;
}
.slider .slider__item.active{
	z-index: 1;
	position: relative;
	left: -40px;
	top: -16px;
}
.slider .slider__item.inslide{
	z-index: 2;
	
}
.slider__controls{
	position: absolute;
}
.slider__controls-button{
	position: absolute;
	top:50%;
	display:block;
	height: 50px;
	text-align: center;
	width: 50px;
	margin-top:-25px;
	font-size: 120%;
	z-index: 4;
}
.slider__controls-button a{
	text-decoration: none;
	color: #000;
}
.slider__controls-button_next{

	left: 40px;
	
}
.slider__controls-button_prev{


	
}